<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Admin page</title>
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link th:href="@{css/styles.css}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">HORIZON WATCHES</a>
            </div>
        </nav>
		
		
		<section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
				<h2>Log In</h2>
				<form action="#" th:action="@{/login}" th:object="${userInfo}" method="post">
					
				  <div class="form-group">
	 				<input type="text" th:field="*{username}" class="form-control" placeholder="Username">
	 			  </div>
				  <br><br>
				  <div class="form-group">
				    <input type="password" th:field="*{password}" class="form-control" placeholder="Password">
				  </div>
				  <br>
				  <button type="submit" class="btn btn-primary mt-3">Submit</button>
				  
				</form>
			</div>
		</section>
		
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>